doctype html
html
   head
      title The Number Quiz Lab
      link(rel="stylesheet" type="text/css" href="../public/site.css")
   body
      div.main
        h1 The Number Quiz Lab
        a(href="/quiz/quizz/1") Start The Number Quiz